.Contact {
  padding-top: 3%;
}
.Contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.Contact h1 {
  font-family: 'Hind', sans-serif !important;
  text-align: center;
  line-height: 3vw;
  font-size: 2vw;
}