.Home {
  position: relative;
  font-family: 'Hind', sans-serif;
  color: #fcfbfc;
}

.Banner {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
}

.Banner__background--left {
  background-color: #f69679;
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100vh;
}

.Banner__background--right {
  background-color: #219b7b;
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100vh;  
}

.Banner__text {
  border: 4px solid #c7b299;
  background: transparent;
  position: absolute;
  z-index: 1;
  padding: 3%;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 5vw;
  line-height: 5.5vw;
  width: 52%;
  margin-top: 25%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.Content {
  background-color: #FFEEEA;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 5% 0 5% 0;
}

.Content img {
  max-height: 220px;
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Content img:hover {
  background-color: #534741;
  opacity: 0.4;
}

.Content__column {
    float: left;
    box-shadow: -10px -10px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 5% 4% 2% 0;
}

.Content__row::after {
    content: "";
    clear: both;
    display: table;
}

.Content__row {
  margin-left: 15%;
}

@media screen and (min-width: 1024px) {
  .Content__column {
    width: 30%;
  }

  .Content__row {
    margin-left: 26%;
  }

  .Content {
    padding: 0;
  }

  .Content img {
    max-height: 280px;
    max-width: 400px;
  }
}

@media screen and (min-width: 600px) {
  .Banner__text {
    margin-top: 10%;
    width: 42%;
  }
}